* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.banner {
  height: 40px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(243, 245, 247, 1);
}

.banner .banner-main-content {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter", sans-serif;
}

.banner .banner-main-content .logo-container {
  height: 24px;
  width: 24px;
}

.banner .banner-main-content .logo-container img {
  height: 100%;
  width: 100%;
}

.banner .banner-main-content > p {
  font-size: 14px;
  font-weight: 700;
  color: rgba(52, 56, 57, 1);
}

.banner > .banner-main-content a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1px 0px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid rgba(55, 125, 255, 1);
  color: rgba(55, 125, 255, 1);
}

.banner > .banner-main-content > a > .fa-arrow-right {
  font-size: 14px;
}

.banner > .banner-cross-logo-container {
  height: 20px;
  width: 20;
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > .banner-cross-logo-container img {
  height: 11.25px;
  width: 11.25px;
  cursor: pointer;
}

.header-section {
  max-width: 1440px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 160px;
}

.header-section > .website-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-section > .website-logo > .fa-bars {
  font-size: 24px;
  color: rgba(20, 23, 24, 1);
  display: none;
}
.header-section > .website-logo > h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.header-section > nav > ul {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style-type: none;
}

.header-section > nav > ul > li > a {
  font-size: 14px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  color: rgba(108, 114, 117, 1);
}

#active {
  color: black;
}

.header-section > .icons {
  display: flex;
  gap: 16px;
}

.header-section > .icons > .first-icons {
  display: flex;
  gap: 16px;
}

.header-section > .icons > .last-icons {
  display: flex;
  gap: 5px;
}

.header-section > .icons i {
  font-size: 20px;
}

.header-section > .icons > .last-icons > span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  font-family: "Inter", sans-serif;
}

.hero-section {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0rem 160px 40px 160px;
  background-color: rgba(255, 255, 255, 1);
}
/* .hero-section>.img-container{
  max-height: 536px;
  max-width: 1120px;
  min-width: 311px;
  min-height: 304px;
} */

.hero-section > img {
  max-height: 536px;
  max-width: 1120px;
  min-width: 311px;
  min-height: 304px;
}

.hero-section > .hero-main-content {
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero-section > .hero-main-content > h3 {
  font-size: 72px;
  max-width: 643px;
  font-weight: 500;
  line-height: 100px;
  font-family: "Poppins", sans-serif;
}

.hero-section > .hero-main-content > p {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  max-width: 424px;
  color: rgba(18, 18, 18, 1);
  font-family: "Inter", sans-serif;
}

.slider-section {
  max-width: 1440px;
  padding: 0rem 160px;

  margin: auto;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.slider-section > .slider-first-img {
  grid-row: 1/3;
  max-height: 664px;
  min-height: 377px;
}

.slider-section > .img-container {
  max-width: 548px;
  min-width: 311px;
  position: relative;
}

.slider-section > .img-container > img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

.slider-section > .slider-second-img {
  max-height: 319px;
  min-height: 180px;
}

.slider-section > .slider-third-img {
  max-height: 319px;
  min-height: 180px;
}

.slider-section > .img-container > .slider-text-content {
  position: absolute;
  top: 2%;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider-section > .img-container > .right-content {
  top: 40%;
  left: 5%;
}

.slider-section > .img-container > .slider-text-content > p {
  font-size: 34px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.slider-section > .img-container > .slider-text-content > a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: black;
  border-bottom: 1px solid rgba(20, 23, 24, 1);
  width: fit-content;
  border: 1px 0px;
  font-size: 16px;
}

.slider-section > .img-container > .slider-text-content > a > span {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.product-section {
  max-width: 1440px;
  margin: auto;
  padding: 48px 0px 0px 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.product-section > .heading-section {
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-right: 160px;
}

.product-section > .heading-section > h2 {
  width: 149px;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  font-family: "poppins", sans-serif;
}

.product-section > .heading-section > a {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 1px 0px 1px 0x;
  border-bottom: 1px solid rgba(20, 23, 24, 1);
  color: rgba(20, 23, 24, 1);
  font-size: 16px;
}

.product-section > .heading-section > a > span {
  font-weight: 500;
  font-family: "inter", sans-serif;
}

.product-section > .card-section {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 40px;
  overflow-x: scroll;
}

.product-section > .card-section::-webkit-scrollbar {
  height: 4px;
  padding-bottom: 40px;
}

.product-section > .card-section::-webkit-scrollbar-thumb {
  background-color: rgba(52, 56, 57, 1);
  border-radius: 80px;
  cursor: pointer;
}

.product-section > .card-section::-webkit-scrollbar-track {
  background-color: rgba(232, 236, 239, 1);
}

.product-section > a {
  display: none;
}

.card-section > .card-main-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 262px;
}

.card-section > .card-main-content > .img-container {
  width: 262px;
  height: 349px;
  position: relative;
}

.card-section > .card-main-content > .img-container > img {
  width: 100%;
  height: 100%;
}

.card-section > .card-main-content > .img-container > .badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-section > .card-main-content > .img-container > .badge > p {
  width: 67px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  font-family: "inter", sans-serif;
  border-radius: 4px;
}

.card-section > .card-main-content > .img-container > .badge > p:first-child {
  background-color: white;
}

.card-section > .card-main-content > .img-container > .badge > p:last-child {
  background-color: rgba(56, 203, 137, 1);
  color: #fff;
}

.card-section > .card-main-content > .img-container > .heart-container {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.card-section > .card-main-content:hover .heart-container {
  opacity: 1;
  visibility: visible;
}

.card-section > .card-main-content > .img-container > .heart-container > img {
  width: 65%;
  height: 65%;
}

.card-section > .card-main-content > .img-container > button {
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 8px 0px;
  width: 230px;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease 0s;
}

.card-section > .card-main-content > .img-container > button:hover {
  background-color: green;
}

.card-section > .card-main-content > .lower-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "inter", sans-serif;
}

.card-section > .card-main-content > .lower-content > .star-icon {
  display: flex;
  gap: 5px;
  font-size: 1rem;
}

.card-section > .card-main-content > .lower-content > h4 {
  font-size: 16px;
  font-weight: 600;

  color: rgba(20, 23, 24, 1);
}

.card-section > .card-main-content > .lower-content > p {
  font-size: 14px;
  font-weight: 600;
  color: rgba(20, 23, 24, 1);
}

.card-section > .card-main-content > .lower-content del {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  padding-left: 12px;
  color: rgba(108, 114, 117, 1);
}

.features-section {
  max-width: 1440px;
  margin: auto;
  padding: 48px 160px;
}

.features-section > .features-cards-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.features-section > .features-cards-container > .features-card {
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(243, 245, 247, 1);
}

.features-section
  > .features-cards-container
  > .features-card
  > .img-container {
  width: 40px;
  height: 40px;
}

.features-section
  > .features-cards-container
  > .features-card
  > .img-container
  img {
  width: 100%;
  height: 100%;
}

.features-section > .features-cards-container > .features-card > .card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "poppins", sans-serif;
}

.features-section-para-one {
  font-size: 20px;
  font-weight: 500;
}

.features-section-para-two {
  font-size: 14px;
  font-weight: 400;
  color: rgba(108, 114, 117, 1);
}

.banner-grid-section {
  max-width: 1440px;
  height: 532px;
  margin: auto;
  display: flex;
}

.banner-grid-section > .img-container {
  width: 50%;
  height: 100%;
}

.banner-grid-section > .img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-grid-section > .main-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-left: 72px;
  padding-right: 160px;
  background-color: rgba(243, 245, 247, 1);
}

.banner-grid-section > .main-content > .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner-grid-section > .main-content > .content > p:first-child {
  font-size: 16px;
  font-weight: 700;
  font-family: "inter", sans-serif;
  color: rgba(55, 125, 255, 1);
}

.banner-grid-section > .main-content > .content > h3 {
  font-size: 40px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  line-height: 44px;
}

.banner-grid-section > .main-content > .content > p:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  font-family: "inter", sans-serif;
  color: rgba(20, 23, 24, 1);
}

.banner-grid-section > .main-content > a {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  color: rgba(20, 23, 24, 1);
  padding: 1px 0px;
  border-bottom: 1px solid rgba(20, 23, 24, 1);
  width: fit-content;
}



.artical-section{
  max-width: 1440px;
  margin: auto;
  padding: 80px 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(255, 255, 255, 1);
}


.artical-section>.heading-section{
  display: flex;
  justify-content: space-between;
   align-items: center;
}


.artical-section>.heading-section>h2{
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  font-family: "poppins", sans-serif;
}



.artical-section>.heading-section>a{
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 1px 0px;
  font-size: 16px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  border-bottom: 1px solid rgba(20, 23, 24, 1);
  color: rgba(20, 23, 24, 1);
  width: fit-content;
}

.artical-section>.artical-main-content{
  display: flex;
  gap:25px;
}

.artical-section>.artical-main-content>.artical-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 357px;

}

.artical-section>.artical-main-content>.artical-container>.img-container{
  max-height: 325px;
  width: 100%;

}

.artical-section>.artical-main-content>.artical-container>.img-container>img{
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.artical-section>.artical-main-content>.artical-container>.content{

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.artical-section>.artical-main-content>.artical-container>.content>p{
  font-size: 20px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}

.artical-section>.artical-main-content>.artical-container>.content>a{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  padding: 1px 0px;
  border-bottom: 1px solid rgba(20, 23, 24, 1);
  width: fit-content;
  color: rgba(20, 23, 24, 1);
}

.artical-section>.artical-main-content>.artical-container>.content>a>.fa-arrow-right{
  color: rgba(108, 114, 117, 1);
}


.newslatter-section{
  max-width: 1440px;
  height: 360px;
  margin: auto;
  background-image: url(assets/newslatter\ img.png);
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items:center ;
}

.newslatter-section>div{
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.newslatter-section>div>.content{
  display: flex;
  flex-direction: column;
  gap: 8px;
 color: rgba(20, 23, 24, 1);
  text-align: center;
}

.newslatter-section>div>.content>h2{
  font-size: 40px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
 
}

.newslatter-section>div>.content>p{
  font-size: 18px;
  font-weight: 400;
  font-family: "inter", sans-serif;

}


.newslatter-section>div>form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(108, 114, 117, 0.5);
  width: 100%;
}



.newslatter-section>div>form>.input-box{
  display: flex;
  gap: 8px;
  align-items: center;
  width: 90%;

}

.newslatter-section>div>form>.input-box>label{
  cursor: pointer;
}

.newslatter-section>div>form>.input-box>input{
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "inter", sans-serif;
 width: 100%;
}

.newslatter-section>div>form>.input-box>input::placeholder{
   font-size: 16px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  color: rgba(108, 114, 117, 1);
}


.newslatter-section>div>form>button{
  background-color: transparent;
  border: none;
   font-size: 16px;
  font-weight: 500;
  font-family: "inter", sans-serif;
  color: rgba(108, 114, 117, 1);
  cursor: pointer;
}


footer{
  max-width: 1440px;
  margin: auto;
  padding: 80px 160px 32px 160px;
  background-color: rgba(20, 23, 24, 1);
  display: flex;
  flex-direction: column;
  gap: 49px;
}

footer>.top-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

}


footer>.top-footer>.content{
  display: flex;
  gap: 32px;
  align-items: center;
}


footer>.top-footer>.content>a{
  font-size: 24px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  color: rgba(255, 255, 255, 1);
  
}

footer>.top-footer>.content>div{
  width: 1px;
  height: 24px;
  background-color: rgba(108, 114, 117, 1);
}

footer>.top-footer>.content>p{
  font-size: 14px;
  font-weight: 400;
  font-family: "inter", sans-serif;
  color: rgba(232, 236, 239, 1);
}


footer>.top-footer>ul{
  display: flex;
  gap: 40px;
  list-style: none;
}

footer>.top-footer>ul>li>a{
 font-size: 14px;
  font-weight: 400;
  font-family: "inter", sans-serif;
  color: rgba(254, 254, 254, 1);
}


footer>.bottom-footer{
  padding: 16px 0px;
  border-top: 0.5px solid rgba(108, 114, 117, 1);
  padding-right: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


footer>.bottom-footer>.content{
  display: flex;
  gap: 28px;
  color: rgba(254, 254, 254, 1);
  font-family: "poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;

}
footer>.bottom-footer>.content>p{
  cursor: pointer;
}

footer>.bottom-footer>.content>p:first-child{
  font-weight: 400;
  color: rgba(232, 236, 239, 1);
}


footer>.bottom-footer>.icons{
  display: flex;
  align-items: center;
  gap: 24px;

}

footer>.bottom-footer>.icons>a{
    font-size: 1.5rem;
  color: #fff;
}


@media (max-width: 1200px) {
  .hero-section > .hero-main-content {
    flex-direction: column;
    gap: 16px;
  }

  .hero-section > .hero-main-content > h3 {
    text-align: center;
    max-width: 100%;
  }

  .hero-section > .hero-main-content > p {
    text-align: center;
    max-width: 100%;
  }

  .features-section {
    padding: 48px 32px;
  }

  .artical-section{
    padding: 80px 32px;
  }

   footer{
    padding: 80px 32px 32px 32px;
  }

}

@media (max-width: 1024px) {
  .header-section {
    padding: 16px 32px;
  }

  .hero-section {
    padding: 0px 32px 40px 32px;
  }

  .slider-section {
    padding: 0rem 32px;
  }

  .product-section {
    padding: 32px 0px 32px 32px;
  }

  .product-section > .heading-section > a {
    display: none;
  }

  .product-section > a {
    display: flex;
    width: fit-content;
    gap: 4px;
    align-items: center;
    padding: 1px 0px 1px 0x;
    border-bottom: 1px solid rgba(20, 23, 24, 1);
    color: rgba(20, 23, 24, 1);
    font-size: 16px;
  }

  .features-section {
    padding: 32px;
  }
  .features-section > .features-cards-container {
    gap: 16px;
  }

  .features-section-para-one {
    font-size: 16px;
  }

  .features-section > .features-cards-container > .features-card {
    padding: 32px 16px;
  }

  .banner-grid-section {
    flex-direction: column;
    height: 734px;
  }

  .banner-grid-section > .img-container {
    width: 100%;
    height: 50%;
  }

  .banner-grid-section >.main-content {
    width: 100%;
    height: 50%;
    padding: 32px;
  }



  .artical-section{
    padding: 40px 32px;
  }

  footer{
    padding: 48px 32px;
  }

  footer>.top-footer{
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

    footer>.top-footer>ul{
      flex-direction: column;
      gap: 40px;
      
    }

   footer>.bottom-footer{
  flex-direction: column;
padding: 24px 0px;
gap: 32px;
}

 
}

@media (max-width: 768px) {
  .header-section > nav {
    display: none;
  }

  .header-section > .website-logo > .fa-bars {
    display: flex;
  }

  .hero-section > .hero-main-content > h3 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
  }

  .hero-section > .hero-main-content > p {
    font-size: 14px;
    color: rgba(108, 114, 117, 1);
  }

  .slider-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .slider-section > .img-container > .slider-text-content {
    gap: 8px;
  }

  .slider-section > .img-container > .slider-text-content > p {
    font-size: 26px;
  }

  .slider-section > .img-container > .slider-text-content > a {
    font-size: 14px;
  }

  .card-section > .card-main-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 231px;
  }

  .card-section > .card-main-content > .img-container {
    width: 231px;
    height: 349px;
    position: relative;
  }

  .card-section > .card-main-content > .img-container > button {
    width: 202px;
  }

  .product-section > .heading-section > h2 {
    font-size: 34px;
  }

  .product-section > .heading-section {
    margin-right: 32px;
  }

  .features-section > .features-cards-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-grid-section > .main-content > .content > h3 {
    font-size: 34px;
  }

  .banner-grid-section > .main-content > .content > p:nth-child(3) {
    font-size: 16px;
  }

  .banner-grid-section > .main-content > a {
    font-size: 14px;
  }

  .artical-section>.heading-section{
  justify-content: space-between;
}

  .artical-section>.heading-section>h2{
    font-size: 34px;
  }

.artical-section>.heading-section>a{
  font-size: 14px;
}

  .artical-section>.artical-main-content{
align-items: center;
    flex-direction: column;
    
  }

.artical-section>.artical-main-content>.artical-container{
  gap: 16px;
}

.artical-section>.artical-main-content>.artical-container>content{
  gap: 8px
}

.artical-section>.artical-main-content>.artical-container>.content>p{
  font-size: 16px;
  font-weight: 600;
}

.artical-section>.artical-main-content>.artical-container>.content>a{
  font-size: 14px;
}

footer>.top-footer>.content{
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

footer>.top-footer>.content>.line{
 width: 24px;
height: 1px
}


footer>.bottom-footer>.content{
  flex-direction: column;
align-items: center;
  gap: 32px;
  order: 2;
}

footer>.bottom-footer>.content>p:first-child{
  order: 2;
  text-align: center;

}

footer>.bottom-footer>.icons>a{
  font-size: 2rem;
  gap: 28px;
  order: 1;
}


}


@media (max-width:550px) {

.newslatter-section{
  padding: 80px 32px;
}
}



@media (max-width: 500px) {
  .banner {
    padding: 8px 32px;
    justify-content: space-between;
  }

  .banner > .banner-main-content a {
    display: none;
  }

  
  .newslatter-section>.content>h2{
  font-size: 28px;
}

.newslatter-section>div>.content>p{
font-size: 14px;
}

}

@media (max-width: 375px) {
  .banner {
    padding: 8px 32px;
  }

  .banner .banner-main-content {
    gap: 8px;
  }
  .banner .banner-main-content .logo-container {
    height: 16px;
    width: 16px;
  }

  .banner .banner-main-content > p {
    font-size: 12px;
    font-weight: 600;
  }

  .banner > .banner-cross-logo-container {
    height: 16px;
    width: 16px;
  }

  .banner > .banner-cross-logo-container img {
    height: 9.25px;
    width: 9.25px;
    cursor: pointer;
  }

  .header-section > .website-logo {
    gap: 5px;
  }

  .header-section > .website-logo > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .header-section > .website-logo > .fa-bars {
    font-size: 16px;
  }

  .header-section > .icons > .first-icons {
    display: none;
  }

}


@media (min-width: 768px) and (max-width: 1200px) {
  .slider-section > .img-container > .slider-text-content > p {
    font-size: 30px;
  }
}
